# Haskell and GHC artifacts
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Verilated haskell code artifacts
verilog

# Ignore verilator test artifacts
.build
compile_commands.json
.cache

# Ignore Quartus Files
c5_pin_model_dump.txt
db/
incremental_db/
greybox_tmp/
*.bak
*.summary
*.rpt
*.done
*.pin
*.sld
*.sof
*.qdf
*.smsg
*.jdi
*.qws
