name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Ormolu Format Check
        run: nix develop .#ci --command ormolu --mode check $(find . -name '*.hs')

      - name: Cabal Build
        run: nix develop .#ci --command cabal build

      - name: Cabal Test
        run: nix develop .#ci --command cabal test

      - name: Compile Clash to Verilog
        run: nix develop .#ci --command make compile-clash

      - name: Run Verilator Simulation
        run: nix develop .#ci --command make vtest
